/* Google font styles */
body{
    font-family: 'Lato', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background: rgba(229, 84, 115, 0.10);  
    background-size: cover; 
    padding-top: 50px;

}
header .banner_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;    
}
header .banner_container .banner_content1 h2 {
    color: #272727;
    font-size:52px;
    font-weight: 800;
}
header .banner_container .banner_content1 p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 32px 0px;

}
header .banner_container .banner_content1 button {
    padding: 20px 43px;
    border-radius: 8px;
    background: #E55473;
    border: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;

}
header .banner_container .banner_content2 img{
    min-height: 800px;  
}


